node_modules/
.expo/
dist/
web-build/
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.*
!.env.example
tmp/
hermes-engine
android/.gradle/
android/.gradle-home/
android/app/build/
android/build/
releases/
ios/Pods/
ios/build/
design-demos/
